<div class="h4">First name: <%= @user.first_name %></div>
<div class="h4">Last name: <%= @user.last_name %></div>
<div class="h4">Email: <%= @user.email %></div>
<%= link_to edit_users_url(@user), :class => 'btn btn-warning' do %>
  <i class="glyphicon glyphicon-edit"></i> Edit user
<% end %>
<hr>
